.chatbox_container{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 50%;
    height: 95%;
    box-sizing: border-box;
}
.chatbox_inner_container{
    background-color: #282828;
    box-shadow:1px 1px 5px 2px black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-clip: content-box;
    flex-direction: column;
}
.chatbox_input{
    width: 90%;
    padding: 6px;
    border-radius: 25px;
    border: 0;
    stroke: none;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin:4%;
    padding-left: 3%;
    box-sizing: border-box;
}
.chatbox_users_chat_container{
    display: flex;
    width: 100%;
    flex-direction: row;
}