.lounge_list_container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;

}
.lounge_container{
    width: 300px;
    /* background-color: black; */
    background-color: #121212;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.room_info{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}
.room_title{
    padding-bottom: .25rem;
}
.current_song_info{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.current_song_pic{
    width: 40%;
    height: 40%;
    /* position: absolute;
    left: 0; */
}
.song_info{
    /* position: absolute;
    right: 0; */
    padding-left: 5px;
    width: 100%;
}
.song_name{

}
.artist_name{
    font-size: 12px;
}
.lounge_footer{
    width: 100%;
    height: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    gap: 5px;
    right: 0;
}
.user_icon{
    padding-left: 5px;
    width: 15px;
    height: 15px;
    /* position: absolute; */
    /* left: 4px; */
    /* bottom: 4px; */
}
.users_connected{

}
.join_button{
    position: absolute;
    right: 0;
    margin-right: 5px;
    background-color: #06812d;
    color: white;
    width: 50px;
    text-decoration: none;
    border-radius: 4px;
}
.join_button:hover{

    background-color: #1eaa4f;
}