.lounge_list_container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: white;

}
.lounge_container{
    width: 400px;
    /* background-color: black; */
    background-color: #121212;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.room_info{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}
.room_title{
    padding-bottom: .25rem;
}
.current_song_info{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.current_song_pic{
    max-width: 50%;
    /* position: absolute;
    left: 0; */
}
.song_info{
    /* position: absolute;
    right: 0; */
    padding-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty_song_info{

}
.song_name_lounge{

}
.artist_name_lounge{
    font-size: 16px;
}
.lounge_footer{
    width: 100%;
    height: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    gap: 5px;
    right: 0;
}
.user_icon{
    padding-left: 5px;
    width: 15px;
    height: 15px;
    /* position: absolute; */
    /* left: 4px; */
    /* bottom: 4px; */
}
.delete_room_button{
    position: absolute;
    right: 5%;
    top: 3%;
    width: 5%;
    &:hover{
        content: url("../../public/icons/delete_alt.jpg");
        cursor: pointer;
    }
}
.users_connected{

}
.join_button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    background-color: #06812d;
    padding:5px;
    box-sizing: content-box;
    color: white;
    width: 50px;
    text-decoration: none;
    border-radius: 4px;
}
.join_button:hover{

    background-color: #1eaa4f;
}
/* .lounge_list_add_room_button{
    position: absolute;
    background-color: #06812d;
    color: white;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 64px;
}
.lounge_list_add_room_button:hover{
    cursor: pointer;
    background-color: #1b8b40;
} */